{# @var post Post #}
<div class="post-card">
    <div class="user-info">
        <img src="{{ asset('icons/user-avatar.svg') }}" alt="User Avatar" class="avatar">
        <div class="user-details">
            <h3>
							{% if post.getAuthor() %}
								{{ post.getAuthor().getFirstName() }} {{ post.getAuthor().getLastName() }}
							{% endif %}
						</h3>
            <p>{{ post.getContent() }}</p>
        </div>
    </div>
    <div class="actions">
        <button class="action-button">
            <img src="{{ asset('icons/heart.svg') }}" alt="Like">
        </button>
        <button class="action-button">
            <img src="{{ asset('icons/comment.svg') }}" alt="Comment">
        </button>
        <button class="action-button">
            <img src="{{ asset('icons/retweet.svg') }}" alt="Retweet">
        </button>
    </div>
</div>
