<div class="post-card">
    <div class="user-info">
        <img src="{{ asset('assets/icons/user-avatar.svg') }}" alt="User Avatar" class="avatar">
        <div class="user-details">
            <h3>{{ post.author }}</h3>
            <p>{{ post.content }}</p>
        </div>
    </div>
        <div class="actions">
            <button class="action-button">
                <img src="{{ asset('assets/icons/heart.svg') }}" alt="Like">
            </button>
            <button class="action-button">
                <img src="{{ asset('assets/icons/comment.svg') }}" alt="Comment">
            </button>
            <button class="action-button">
                <img src="{{ asset('assets/icons/retweet.svg') }}" alt="Retweet">
            </button>
        </div>

</div>
